<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cubelengthx" value="5000" />
    <add key="cubelengthy" value="5000" />
    <add key="cubelengthz" value="5000" />
    <add key="ptssyntax" value="x;y;z;i;r;g;b" />
    <add key="xlowerclip" value="" />
    <add key="xupperclip" value="" />
    <add key="ylowerclip" value="" />
    <add key="yupperclip" value="" />
    <add key="zlowerclip" value="" />
    <add key="zupperclip" value="" />
    <add key="cubefilenamesyntax" value="FacilityCode; [;cubex; ;cubey; ;cubez;] ;YYYY;-;MM;-;DD;.pts" />
    <add key="unitscale" value="" />
    <add key="buffersize" value="" />
    <add key="separatorchar" value="" />
  </appSettings>
</configuration>