<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="datasource" value="D:\ScanData" />
    <add key="datadist" value="D:\ScanDataOutPut" />
    <add key="cubelenghtx" value="5000" />
    <add key="cubelenghty" value="5000" />
    <add key="cubelenghtz" value="5000" />
    
  </appSettings>
</configuration>